<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body><br><center>
    <form class="pure-form pure-form-aligned" method="POST">
      <fieldset>
	<div class="pure-control-group">
	  <label for="summoner">Summoner Name:</label>
	  <input name="summoner" type="text" required><br>
	</div>
	<div class="pure-control-group">
	  <label for="select">Select a Specific Attribute to Look At:</label>
	  <input name="select" type="text"><br>
	</div>
	<div class="pure-controls">
	  <input type="submit" value="Get Data" class="pure-button pure-button-primary">
	</div><br>
</fieldset></form></center>
<p>
List of Attributes:<br>
totalPhysicalDamageDealt<br>
totalTurretsKilled<br>
totalSessionsPlayed<br>
totalAssists<br>
totalDamageDealt<br>
totalQuadraKills<br>
totalPentaKills<br>
mostSpellsCast<br>
totalDoubleKills<br>
maxChampionsKilled<br>
totalDeathsPerSession<br>
totalSessionsWon<br>
totalGoldEarned<br>
totalTripleKills<br>
totalChampionKills<br>
maxNumDeaths<br>
totalMinionKills<br>
totalMagicDamageDealt<br>
mostChampionKillsPerSession<br>
totalUnrealKills<br>
totalDamageTaken<br>
totalSessionsLost<br>
totalFirstBlood<br>
</p>
</body>
</html>
