<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body><br><center>
    <form class="pure-form" method="POST">
      <fieldset>
	<div class="pure-control-group">
	  <label for="summoner">Summoner Name:</label>
	  <input name="summoner" type="text" required><br><br>
	</div>
	<div class="pure-control-group">
	  <label for="select" class="pure-checkbox">Select a Specific Attribute to Look At:<br><br>
	  <input name="select1" type="checkbox" value="totalPhysicalDamageDealt"> totalPhysicalDamageDealt<br>
	  <input name="select2" type="checkbox" value="totalTurretsKilled"> totalTurretsKilled<br>
	  <input name="select3" type="checkbox" value="totalSessionsPlayed"> totalSessionsPlayed<br>
	  <input name="select4" type="checkbox" value="totalAssists"> totalAssists<br>
	  <input name="select5" type="checkbox" value="totalDamageDealt"> totalDamageDealt<br>
	  <input name="select6" type="checkbox" value="totalQuadraKills"> totalQuadraKills<br>
	  <input name="select7" type="checkbox" value="totalPentaKills"> totalPentaKills<br>
	  <input name="select8" type="checkbox" value="mostSpellsCast"> mostSpellsCast<br>
	  <input name="select9" type="checkbox" value="totalDoubleKills"> totalDoubleKills<br>
	  <input name="select10" type="checkbox" value="maxChampionsKilled"> maxChampionsKilled<br>
	  <input name="select11" type="checkbox" value="totalDeathsPerSession"> totalDeathsPerSession<br>
	  <input name="select12" type="checkbox" value="totalSessionsWon"> totalSessionsWon<br>
	  <input name="select13" type="checkbox" value="totalGoldEarned"> totalGoldEarned<br>
	  <input name="select14" type="checkbox" value="totalTripleKills"> totalTripleKills<br>
	  <input name="select15" type="checkbox" value="totalChampionKills"> totalChampionKills<br>
	  <input name="select16" type="checkbox" value="maxNumDeaths"> maxNumDeaths<br>
	  <input name="select17" type="checkbox" value="totalMinionKills"> totalMinionKills<br>
	  <input name="select18" type="checkbox" value="totalMagicDamageDealt"> totalMagicDamageDealt<br>
	  <input name="select19" type="checkbox" value="mostChampionKillsPerSession"> mostChampionKillsPerSession<br>
	  <input name="select20" type="checkbox" value="totalUnrealKills"> totalUnrealKills<br>
	  <input name="select21" type="checkbox" value="totalDamageTaken"> totalDamageTaken<br>
	  <input name="select22" type="checkbox" value="totalSessionsLost"> totalSessionsLost<br>
	  <input name="select23" type="checkbox" value="totalFirstBlood"> totalFirstBlood<br><br></label>
	</div>
	<div class="pure-controls">
	  <input type="submit" value="Get Data" class="pure-button pure-button-primary">
	</div><br>
</fieldset></form></center>
</body>
</html>
